<div class="friends">
	<div class="wrap">
		<div class="head">合作伙伴</div>
		<ul>
			<li id="icon-cyl"><a href="#"><img src="<%= url %>/assets/friends/cyl.png" alt="团中央"/><span>团中央</span></a></li>
			<li id="icon-torch"><a href="#"><img src="<%= url %>/assets/friends/torch.png" alt="火炬"/><span>火炬</span></a></li>
			<li id="icon-36Kr" ><a href="http://36kr.com/"><img src="<%= url %>/assets/friends/36Kr.png" alt="36Kr"><span>36Kr</span></a></li>
			<li id="icon-fh"><a href="http://www.fahai.com/"><img src="<%= url %>/assets/friends/fh.png" alt="法海"><span>法海</span></a></li>
			<li id="icon-ucloud"><a href="http://www.ucloud.cn/"><img src="<%= url %>/assets/friends/ucloud.png" alt="ucloud"><span>Ucloud</span></a></li>
			<li id="icon-hunter"><a href="http://www.hunteron.com/"><img src="<%= url %>/assets/friends/hunter.png" alt="猎上网"/><span>猎上</span></a></li>
			<li id="icon-zc"><a href=" http://www.zcrun.com/"><img src="<%= url %>/assets/friends/zc.png" alt="智筹"/><span>智筹</span></a></li>
			<li id="icon-coffee"><a href=" http://www.shifenkafei.com/"><img src="<%= url %>/assets/friends/coffee.png" alt="十分咖啡"/><span>十分咖啡</span></a></li>
			<li id="icon-dream"><a href=" http://www.dreamswood.com/"><img src="<%= url %>/assets/friends/dream.png" alt="梦想+"/><span>梦想+</span></a></li>
			<li id="icon-fangcloud"><a href="http://www.fangcloud.com/"><img src="<%= url %>/assets/friends/fangcloud.png" alt="亿方云"/><span>亿方云</span></a></li>
			<li id="icon-easemob"><a href="http://www.easemob.com?fr=guanplus"><img src="<%= url %>/assets/friends/easemob.png" alt="环信"/><span>环信</span></a></li>
			<li id="icon-pushOA"><a href="http://www.tuishiben.com/?from=guanjia"><img src="<%= url %>/assets/friends/pushOA.png" alt="推事本"/><span>推事本</span></a></li>
		</ul>	
	</div>
</div>