<div class="friends">
	<div class="wrap">
		<span class="head">合作伙伴</span>
		<ul>
			<li><a href="http://36kr.com/"><img id="icon-36Kr" src="<%= url %>/assets/friends/36Kr.png" alt="36Kr"><span>36Kr</span></a></li>
			<li><a href="http://www.fahai.com/"><img id="icon-fh" src="<%= url %>/assets/friends/fh.png" alt="法海"><span>法海</span></a></li>
			<li><a href="http://www.ucloud.cn/"><img id="icon-ucloud" src="<%= url %>/assets/friends/ucloud.png" alt="ucloud"><span>Ucloud</span></a></li>
			<li><a href="http://www.hunteron.com/"><img id="icon-hunter" src="<%= url %>/assets/friends/hunter.png" alt="猎上网"/><span>猎上</span></a></li>
			<li><a href=" http://www.zcrun.com/"><img id="icon-zc" src="<%= url %>/assets/friends/zc.png" alt="智筹"/><span>智筹</span></a></li>
			<li><a href=" http://www.shifenkafei.com/"><img id="icon-coffee" src="<%= url %>/assets/friends/coffee.png" alt="十分咖啡"/><span>十分咖啡</span></a></li>
			<li><a href=" http://www.dreamswood.com/"><img id="icon-dream" src="<%= url %>/assets/friends/dream.png" alt="梦想+"/><span>梦想+</span></a></li>
			<li><a href="http://www.fangcloud.com/"><img id="icon-fangcloud" src="<%= url %>/assets/friends/fangcloud.png" alt="亿方云"/><span>亿方云</span></a></li>
			<li><a href="http://www.easemob.com?fr=guanplus"><img id="icon-easemob" src="<%= url %>/assets/friends/easemob.png" alt="环信"/><span>环信</span></a></li>
		</ul>	
	</div>
</div>