<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<%- include ../tpl/header %>
	<!-- dev:css -->
	<!-- endinject -->
	<!-- release-lib:css -->
	<!-- endinject -->
	<!-- release:css -->
	<!-- endinject -->
</head>
<body>
	<%- include ../tpl/nav %>
	<div id="fullpage">
		<div class="section " id="section0" data-anchor="first">
			<div class="slide" id="slide1">
				<div class="wrap v_align">
					<div class="block_wrap left_wrap">
						<img class="hat" src="<%= url %>/assets/s1_hat.png" alt="hat"/>
					</div>
					<div class="block_wrap right_wrap">
						<img class="title" src="<%= url %>/assets/s1_title.png" alt="title" />
						<img class="subtitle" src="<%= url %>/assets/s1_subtitle.png" alt="subtitle"/>
					</div>
				</div>
			</div>
    		<div class="slide" id="slide2">
				<div class="wrap v_align">
					<div class="block_wrap left_wrap">
						<img class="wheel" src="<%= url %>/assets/s2_wheel.png" alt="wheel" />	
					</div>
					<div class="block_wrap right_wrap">
						<img class="title" src="<%= url %>/assets/s2_title.png" alt="title" />
						<img class="subtitle" src="<%= url %>/assets/s2_subtitle.png" alt="subtitle"/>
					</div>
				</div>
    		</div>
    		<div class="slide" id="slide3">
    			<div class="wrap">
					<div class="guanplus_logo bg">
						<img src="<%= url %>/assets/s3_guanplus_logo.png" alt="star"/>
					</div>
					<div class="lt_upper bg"></div>
					<div class="lt_lower bg"></div>
					<div class="lb_upper bg">
						<div class="news star_wrap">
							<img class="star" src="<%= url %>/assets/s3_star.png" alt="star"/>
							<a href="http://mp.weixin.qq.com/s?__biz=MzI1MzAwNzQ3Ng==&mid=208677773&idx=2&sn=4395255cfb57a0de9a7281d19ba95508&scene=1&key=dffc561732c22651de6c831e277725243aa194092162397e0d30ab8c99276efd1a6d67aa0df123cad74e3a1ad131bfa6&ascene=0&uin=MTQ5MTI0NzU1&devicetype=iMac+MacBookPro11%2C1+OSX+OSX+10.9.5+build(13F1096)&version=11020113&pass_ticket=9bsyIHo8QM4m3h8NOFLughFDZ3NgBEdyhMdl8z7Gh2g%3D">
								<span>详细活动报道</span>
								<img class="link" src="<%= url %>/assets/link.png" alt="star"/>
							</a>
						</div>
					</div>
					<div class="lb_lower bg"></div>
					<div class="rb_upper bg"></div>
					<div class="rb_lower bg"></div>
					<div class="rt_upper bg">
						<div class="news youth_wrap">
							<img class="youth" src="<%= url %>/assets/s3_youth.png" alt="youth"/>
							<a href="http://mp.weixin.qq.com/s?__biz=MzI1MzAwNzQ3Ng==&mid=208566879&idx=2&sn=a21dd9febcb0d7b6bfae6d279fbe9b7f&scene=1&key=dffc561732c22651021f19b9f86b1fbdb808463742a9cc9f0895acf459fa81b89a011d6492d7334e89c558a0238800df&ascene=0&uin=MTQ5MTI0NzU1&devicetype=iMac+MacBookPro11%2C1+OSX+OSX+10.9.5+build(13F1096)&version=11020113&pass_ticket=9bsyIHo8QM4m3h8NOFLughFDZ3NgBEdyhMdl8z7Gh2g%3D">
								<span>详细活动报道</span>
								<img class="link" src="<%= url %>/assets/link.png" alt="star"/>
							</a>
						</div>
					</div>
					<div class="rt_lower bg"></div>
					<div class="mask_top bg"></div>
					<div class="mask_bottom bg"></div>
					<div class="mask_tl bg"></div>
					<div class="mask_bl bg"></div>
					<div class="mask_bl bg"></div>
				</div> 
    		</div>
    		<div class="slide" id="slide4">
 				<div class="mask"></div>
    			<div class="wrap">
    				<div class="release_wrap">
    					<img class="release" src="<%= url %>/assets/s4_title.png" alt="release"/>
    					<img class="link" src="<%= url %>/assets/link.png"></img>
    					<span id="feel">欢迎体验</span>
    				</div>
    			</div>
    		</div>
		</div>
		<div class="section features odd" id="section1">
			<div id="feature-suishouji-bg" class="feature-icon-bg"></div>
			<div class="wrap v_align">
				<div class="block_wrap left_wrap">
					<div class="pic">
						<span class="feature-icon-circle"></span>
						<img class="feature-icon-1" src="<%= url %>/assets/shapes/1-1.png"/>
						<img class="feature-icon-2" src="<%= url %>/assets/shapes/1-2.png"/>
						<img class="feature-icon-3" src="<%= url %>/assets/shapes/1-3.png"/>
						<img class="feature-icon-4" src="<%= url %>/assets/shapes/1-4.png"/>
						<img class="feature-icon-finger" src="<%= url %>/assets/shapes/finger.png" />
						<img class="feature-icon-phone" src="<%= url %>/assets/shapes/phone.png" />
						<img class="feature-icon-center" src="<%= url %>/assets/shapes/upload.png" />
						<img class="feature-icon-paw" src="<%= url %>/assets/shapes/paw.png" />
						<img class="feature-icon-sleeve" src="<%= url %>/assets/shapes/sleeve.png" />
					</div>
				</div>
				<div class="intro block_wrap right_wrap">
					<h1>随&nbsp;手&nbsp;记</h1>
					<h2>买卖消费 业务同步</h2>
					<p>随时随地消费记录、买卖借款、云端同步<br />手机与电脑数据一致</p>
				</div>
			</div>
		</div>
		<div class="section features even" id="section2">
			<div id="feature-suishoushen-bg" class="feature-icon-bg"></div>
			<div class="wrap v_align">
				<div class="intro block_wrap left_wrap">
					<h1>随&nbsp;手&nbsp;审</h1>
					<h2>线上报销 实时审批</h2>
					<p>随时随地生成报销单，告别回忆式报销之苦<br />随时随地审批企业各项审批事项</p>
				</div>
				<div class="block_wrap right_wrap">
					<div class="pic">
						<span class="feature-icon-circle"></span>
						<img class="feature-icon-1" src="<%= url %>/assets/shapes/2-1.png"/>
						<img class="feature-icon-2" src="<%= url %>/assets/shapes/2-2.png"/>
						<img class="feature-icon-3" src="<%= url %>/assets/shapes/2-3.png"/>
						<img class="feature-icon-4" src="<%= url %>/assets/shapes/2-4.png"/>
						<img class="feature-icon-finger" src="<%= url %>/assets/shapes/finger.png" />
						<img class="feature-icon-phone" src="<%= url %>/assets/shapes/phone.png" />
						<img class="feature-icon-center" src="<%= url %>/assets/shapes/check.png" />
						<img class="feature-icon-paw" src="<%= url %>/assets/shapes/paw.png" />
						<img class="feature-icon-sleeve" src="<%= url %>/assets/shapes/sleeve.png" />
					</div>
				</div>
			</div>
		</div>
		<div class="section features odd" id="section3">
			<div id="feature-suishouchu-bg" class="feature-icon-bg"></div>
			<div class="wrap v_align">
				<div class="block_wrap left_wrap">
					<div class="pic ">
						<span class="feature-icon-circle"></span>
						<img class="feature-icon-1" src="<%= url %>/assets/shapes/3-1.png"/>
						<img class="feature-icon-2" src="<%= url %>/assets/shapes/3-2.png"/>
						<img class="feature-icon-3" src="<%= url %>/assets/shapes/3-3.png"/>
						<img class="feature-icon-4" src="<%= url %>/assets/shapes/3-4.png"/>
						<img class="feature-icon-hand" src="<%= url %>/assets/shapes/hand.png" />
						<img class="feature-icon-mouse" src="<%= url %>/assets/shapes/mouse.png" />
						<img class="feature-icon-tail" src="<%= url %>/assets/shapes/tail.png" />
						<img class="feature-icon-sleeve" src="<%= url %>/assets/shapes/sleeve.png" />
					</div>
				</div>
				<div class="intro block_wrap right_wrap">
					<h1>随&nbsp;手&nbsp;出</h1>
					<h2>实时凭证 自动帐表</h2>
					<p>业务数据自动实时生成会计凭证、总账明细账<br />自动及时得到各种财务报表、管理报表</p>
				</div>
			</div>
		</div>
		<div class="section features even" id="section4">
			<div id="feature-suishoukong-bg" class="feature-icon-bg"></div>
			<div class="wrap v_align">
				<div class="intro block_wrap left_wrap">
					<h1>随&nbsp;手&nbsp;控</h1>
					<h2>数据说话 专业分析</h2>
					<p>实时得到财务、业务各项分析<br/>轻轻掌握企业经营与发展</p>
				</div>
				<div class="block_wrap right_wrap">
					<div class="pic control">
						<span class="feature-icon-circle"></span>
						<img class="feature-icon-1" src="<%= url %>/assets/shapes/4-1.png"/>
						<img class="feature-icon-2" src="<%= url %>/assets/shapes/1-2.png"/>
						<img class="feature-icon-3" src="<%= url %>/assets/shapes/4-3.png"/>
						<img class="feature-icon-4" src="<%= url %>/assets/shapes/4-4.png"/>
						<img class="feature-icon-5" src="<%= url %>/assets/shapes/4-5.png"/>
						<img class="feature-icon-mac" src="<%= url %>/assets/shapes/mac.png" />
						<img class="feature-icon-lineChart" src="<%= url %>/assets/shapes/lineChart.png" />
						<img class="feature-icon-bigPieChart" src="<%= url %>/assets/shapes/bigPieChart.png" />
						<img class="feature-icon-histogram" src="<%= url %>/assets/shapes/histogram.png" />
						<img class="feature-icon-smallPieChart" src="<%= url %>/assets/shapes/smallPieChart.png" />
					</div>
				</div>
			</div>
		</div>
		<div class="section footer" id="section5">
			<%- include ../tpl/friends %>
			<%- include ../tpl/footer %>
		</div>
	</div>

	<!-- dev-jq:js -->
	<!-- endinject -->
	<!-- dev:js -->
	<!-- endinject -->
	<!-- release-lib:js -->
	<!-- endinject -->
	<!-- release:js -->
	<!-- endinject -->
</body>
</html>